<div nz-row nzAlign="top" nzJustify="start" nzGutter="32">
  <div nz-col nzSpan="24">
    <mar-dsm-example></mar-dsm-example>
  </div>
  <div nz-col nzSpan="24">
    <h4 nz-typography>Template</h4>
    <pre><code [highlight]="code.template" [languages]="['typescript', 'html']" ></code></pre>
  </div>
  <div nz-col nzSpan="24">
    <h4 nz-typography>Component</h4>
    <pre><code [highlight]="code.component" [languages]="['typescript', 'html']" ></code></pre>
  </div>
  <div nz-col nzSpan="24">
    <h4 nz-typography>Service</h4>
    <pre><code [highlight]="code.service" [languages]="['typescript', 'html']" ></code></pre>
  </div>
</div>

