<div nz-row nzAlign="top" nzJustify="start" nzGutter="32">
  <div nz-col nzSpan="24">
    <h4 nz-typography>Template</h4>
    <pre><code [highlight]="cardCode.template" [languages]="['typescript', 'html']" ></code></pre>
  </div>
  <div nz-col nzSpan="24">
    <h4 nz-typography>Component</h4>
    <pre><code [highlight]="cardCode.component" [languages]="['typescript', 'html']" ></code></pre>
  </div>
  <div nz-col nzSpan="24">
    <h4 nz-typography>CSS</h4>
    <pre><code [highlight]="cardCode.css" [languages]="['css']" ></code></pre>
  </div>
  <div nz-col nzSpan="24">
    <h4 nz-typography>Examples</h4>
    <pre><code [highlight]="cardCode.examples" [languages]="['typescript', 'html']" ></code></pre>
  </div>
</div>
